.container{
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 


.signup-container,.login-container {
  background-color: hsl(270, 40%, 13%);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  width: 100%;
  max-width: 400px;
  /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.signup-container h1, .login-container h1 {
  margin-bottom: 1.5rem;
  color: #dcb6ff;
}

.signup-form, .login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .form-group { */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
/* } */

.form-group label, .login-group label{
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  color: #e0c8ff;
}

.form-group input, .login-group input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  background-color: #443360;
  color: #f5f5f5;
  font-size: 1rem;
}

.form-group input:focus, .login-form input:focus {
  outline: 2px solid #dcb6ff;
}

button {
  padding: 0.7rem;
  margin-top: 1rem;
  background-color: #dcb6ff;
  color: #2b1e3c;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #c29cff;
}

.login-link, .signup-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #e0c8ff;
}

.login-link a, .signup-link a {
  color: #dcb6ff;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover, .signup-link a:hover {
  text-decoration: underline;
}

.error{
    background-color: #c29cff;
    color: red;
    text-align:center;
    border-radius: 2px;
}